body {
	font-size: 14px;
	font-family: "Verdana", "ו";



}
.title1 {
	font-family: "Verdana", "ו";
	font-size: 20px;
	font-weight: bold;
}
.content {
	font-family: "Verdana", "ו";
	font-size: 14px;
}

a:visited
{
	font-size: 14px;
	color: #000099;
	font-family: "verdana";
	text-decoration: underline;
}
a:active
{
	font-size: 14px;
	color: #FF0000;
	font-family: "verdana";
	text-decoration: underline;
}
a:link
{
	font-size: 14px;
	color: #000099;
	font-family: "verdana";
	text-decoration: underline;
}
a:hover
{
	font-size: 14px;
	color: #FF3300;
	font-family: "verdana";
	text-decoration: underline;
}